@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

html,
body {
    padding: 0;
    margin: 0;
    font-size: 1.85vh;
    font-family: "Open Sans", sans-serif;
    background: #0b0f24;
}

@media (max-height: 700px) {
    html,
    body {
        font-size: 16px;
    }
}

@media (max-height: 485px) {
    html,
    body {
        font-size: 13px;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
