@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background: #0b0f24;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
